[submodule "vendor/clipp"]
	path = vendor/clipp
	url = https://github.com/muellan/clipp
[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/doctest/doctest
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
